<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/Home"><i class="fa fa-link"></i> <span>Anasayfa</span></a></li>
    <li><a href="/Personels"><i class="fa fa-link"></i> <span>Personeller</span></a></li>
</ul>