    @{
        ViewData["Title"] = "AnaSayfa";
        Layout = "_LayoutNew";
    }
    <!-- Main content -->

@*    <h4>@ViewData["Title"]</h4>*@

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }